<div *ngIf="!loggedIn" class="notLogged">
  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
  <div class="playerName">
    <form class="example-form">
      <mat-form-field class="example-full-width">

        <mat-label>Player Name</mat-label>
        <input #name matInput>

      </mat-form-field>
    </form>
    <button mat-button (click)="loggeIn(name.value)">Click me!</button>
  </div>
</div>

<div *ngIf="loggedIn">
  Player's Name: {{playerName}}

  <app-roll-window></app-roll-window>
</div>

