<!--<canvas #game width="640" height="480" style="border: 1px solid black"></canvas>
<p>
  <button (click)="move('right')">Right</button>
  <button (click)="move('left')">Left</button>
  <button (click)="move('up')">Up</button>
  <button (click)="move('down')">Down</button>
</p>-->
<br>
Players List:
<br>
<div *ngFor="let player of playerList">
  {{player.name}}
  <mat-icon *ngIf="player.ready" style="color: greenyellow">done</mat-icon>
  <mat-icon *ngIf="!player.ready" style="color: red">clear</mat-icon>
  <br>

</div>
<body class="block">

<div *ngIf="ready" class="box">
  <div *ngIf="diceValueGlobal">
    <div *ngIf="diceValueGlobal.x >= diceValueGlobal.y">
      {{diceValueGlobal.x}}{{diceValueGlobal.y}}
    </div>
    <div *ngIf="diceValueGlobal.x < diceValueGlobal.y">
      {{diceValueGlobal.y}}{{diceValueGlobal.x}}
    </div>
  </div>

  <div>
    <button (click)="rollDiceWithoutValues()">roll</button>
  </div>
  <div id="dice-box1"></div>
  test
  <div *ngIf="ownDice">
    <div *ngIf="ownDice.x >= ownDice.y">
      {{ownDice.x}}{{ownDice.y}}
    </div>
    <div *ngIf="ownDice.x < ownDice.y">
      {{ownDice.y}}{{ownDice.x}}
    </div>
  </div>

</div>
<div *ngIf="!ready" class="box">

Click Button When Ready
  <button mat-button (click)="playerReady()">Ready</button>

</div>
</body>
